In [1]:
import numpy as np
import pandas as pd

nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))

In [2]:
%timeit df1 + df2 + df3 + df4

1 loop, best of 3: 109 ms per loop

In [3]:
%timeit pd.eval('df1 + df2 + df3 + df4')

10 loops, best of 3: 110 ms per loop

In [4]:
np.allclose(df1 + df2 + df3 + df4,
            pd.eval('df1 + df2 + df3 + df4'))

True

In [5]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.615875</td>
      <td>0.525167</td>
      <td>0.047354</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.330858</td>
      <td>0.412879</td>
      <td>0.441564</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.689047</td>
      <td>0.559068</td>
      <td>0.230350</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.290486</td>
      <td>0.695479</td>
      <td>0.852587</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.424280</td>
      <td>0.534344</td>
      <td>0.245216</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

True

In [7]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

True

In [8]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.615875</td>
      <td>0.525167</td>
      <td>0.047354</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.330858</td>
      <td>0.412879</td>
      <td>0.441564</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.689047</td>
      <td>0.559068</td>
      <td>0.230350</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.290486</td>
      <td>0.695479</td>
      <td>0.852587</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.424280</td>
      <td>0.534344</td>
      <td>0.245216</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
df.eval('D = (A + B) / C', inplace=True)
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.615875</td>
      <td>0.525167</td>
      <td>0.047354</td>
      <td>24.095868</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.330858</td>
      <td>0.412879</td>
      <td>0.441564</td>
      <td>1.684325</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.689047</td>
      <td>0.559068</td>
      <td>0.230350</td>
      <td>5.418335</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.290486</td>
      <td>0.695479</td>
      <td>0.852587</td>
      <td>1.156439</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.424280</td>
      <td>0.534344</td>
      <td>0.245216</td>
      <td>3.909296</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
df.eval('D = (A - B) / C', inplace=True)
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.615875</td>
      <td>0.525167</td>
      <td>0.047354</td>
      <td>1.915527</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.330858</td>
      <td>0.412879</td>
      <td>0.441564</td>
      <td>-0.185752</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.689047</td>
      <td>0.559068</td>
      <td>0.230350</td>
      <td>0.564268</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.290486</td>
      <td>0.695479</td>
      <td>0.852587</td>
      <td>-0.475016</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.424280</td>
      <td>0.534344</td>
      <td>0.245216</td>
      <td>-0.448844</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

In [12]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [13]:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

In [14]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True

In [15]:
df.values.nbytes